
  <!-- Footer -->

  <footer id="footer">
    <div class="container-fluid" id="footer-padding">
      <i class="social-icon fab fa-facebook-f fa-1x"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fab fa-linkedin"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2021 Secrets by James Wu</p>
    </div>
  </footer>

</body>

</html>